# Exports
export(IndSoilWater_App)
export(LLWR_LLMPR_App)
export(LLWR_App)
export(fitsoilwater_App)
export(r_App)

# Imports
import(shiny)
importFrom(shinydashboard, box)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "legend", "mtext", "par",
             "plot", "points", "polygon", "segments", "text")
importFrom("stats", "AIC", "nls", "optimize", "predict", "resid",
             "residuals", "weighted.mean", "weights")
importFrom("utils", "read.csv", "write.csv")
