# Exports
export(criticalmoisture)
export(maxbulkdensity)
export(fitbusscher)
export(fitsoilwater)
export(getInitiallbc)
export(maxcurv)
export(soilwater)
export(SSlbc)
export(fitlbc)
export(fun2form)
export(liquidlimit)
export(Rsq)
export(Sindex)
export(sigmaP)
export(voidratio)
export(llwr)
export(soilwater2)
export(fitsoilwater2)
export(hydraulicCutOff)
export(soilwater3)
export(fitsoilwater3)
export(soilwater4)
export(fitsoilwater4)
export(soilwater5)
export(fitsoilwater5)
export(hemc)
export(iwc)
export(simSigmaP)
export(plotCIsigmaP)
export(stressTraffic)
export(soilStrength)
export(soilStrength2)
export(soilStrength3)
export(soilStrength4)
export(soilStrength5)
export(soilDeformation)
export(llwrPTF)
export(particle.sedimentation)
export(aggreg.stability)
export(r)
export(psd)
export(Kr_h)
export(Kr_theta)
export(llwr_llmpr)
export(hydraulicCutOff2)
export(compressive_properties)
export(compressive_properties2)
export(compressive_properties3)
export(compressive_properties4)
export(compressive_properties5)
export(particle.sedimentation_App)
export(PredComp)
export(r_App)

# Imports
import(utils, rpanel, tkrplot, shiny, shinydashboard, fields, MASS, boot, stats, graphics, grDevices, datasets)
importFrom(tcltk, tkProgressBar, setTkProgressBar)
importFrom(shinydashboard, box)

# S3method
S3method(print, criticalmoisture)
S3method(print, maxcurv)
S3method(print, S.index)
S3method(print, llwr)
S3method(print, hemc)
S3method(print, sigmaP)
S3method(print, stressTraffic)
